* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.header {
    border: 1px red solid;
    display:flex;
}

.upper-section {
    display: flex;
    flex-direction: column;
}

.sign-up {
    padding: 8px 15px;
    font-size: 20px;
    color: red;
    background-color: black;
}

.lower-section {

}

.image-one {
    height: 250px;
}

.image-header {
    height: 100px;
}