* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
    display: flex; 
    justify-content: center;  
    border: 1px red solid;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.header {
    display:flex;
    justify-content: space-between;
}

.image-header {
    
}

.header-link {
    display: flex; 
    justify-content: space-between;
    width: 31%;
}

/*upper-section stuff*/

.upper-section {
    display: flex;
    flex-direction: column;
    width: 78%;
    border: 1px red solid;
}

.raw-mma {
    /* display: flex; */
}

.raw-mma-title {
    margin-bottom: 0;
}

.mma-description {
    margin-top: 0;
    margin-bottom: 0;
}

.sign-up {
    margin-top: 0;
    padding: 8px 15px;
    font-size: 20px;
    color: red;
    background-color: black;
    border-radius: 11px; 
}

.upper-text-image {
    display: flex;
    justify-content: space-between;
    border: 1px red solid;
}

/* Lower Section Stuff */

.lower-section {

}

.image-one {
    height: 250px;
}

.image-header {
    height: 100px;
}