* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
    display: flex; 
    justify-content: center;  
    border: 1px red solid;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.header {
    display:flex;
    justify-content: space-between;
}

.image-header {
    
}

.header-link {
    display: flex; 
    justify-content: space-between;
    width: 31%;
}

.upper-section {
    display: flex;
    flex-direction: column;
    width: 78%;
    border: 1px red solid;
}

.sign-up {
    padding: 8px 15px;
    font-size: 20px;
    color: red;
    background-color: black;
    border-radius: 11px; 
}

.lower-section {

}

.image-one {
    height: 250px;
}

.image-header {
    height: 100px;
}